# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
build
out

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
packages/database/prisma/migrations/*.sql.bak

# Test coverage
coverage
.vercel

# Binarios (evitar commits accidentales de ejecutables)
*.x86
*.x86_64
*.arm
*.arm64
*.mips
